# Activar el motor de reescritura
RewriteEngine On

# Verificar si el archivo solicitado no existe
RewriteCond %{REQUEST_FILENAME} !-f

# Verificar si el directorio solicitado no existe
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las solicitudes que no existan a la página 404 personalizada
RewriteRule ^(.*)$ /views/404.html [L]

# Alternativamente, puedes usar ErrorDocument para manejar errores 404
ErrorDocument 404 /views/404.html